/+ IE10 snapped mode ignores the viewport tag. */

@-ms-viewport{ width: device-width; initial-scale: 1; zoom: 1;}
@-o-viewport { width: device-width; initial-scale: 1; zoom: 1;}
@viewport { width: device-width; initial-scale: 1; zoom: 1;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;  
    text-decoration: none;
}
 
ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #111;}

ul.topnav li.about {float: right;}

@media screen and (max-width: 800px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
