.vidBox {
  position: absolute;
  right: 50px;
  top: 100px;
  border-style: solid;
  border-width: 5px;
  min-height: 360px;
  min-width: 640px;
  background-image: url("/web/media/movie.png");
  background-size: contain;
}

table {
  width= 250px;
  cellpadding="2";
  align="left";
  margin: 10px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}
