/+ IE10 snapped mode ignores the viewport tag. */

@-ms-viewport{ width: device-width; initial-scale: 1; zoom: 1;}
@-o-viewport { width: device-width; initial-scale: 1; zoom: 1;}
@viewport { width: device-width; initial-scale: 1; zoom: 1;}

* {
  margin: 0;
  padding: 0;
}

html,
body {
margin:0;
padding:0;
height:100%;
}

#pagebg {
     background: linear-gradient(grey, white); 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
min-height:100%;
position:relative;
}

/*Footer: The value for 'padding-bottom' on #main must be equal to or greater than the height of #footer - check footer.css.*/
#main {
padding-bottom:150px; /* Height of the footer element */ 
position:relative;
}


<!-- CSS for videos.html -->
* { box-sizing: border-box; }

.wrapper > div {
    border-radius: 5px;
    padding: 10px; 
    border-style: solid; 
    border-color: green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 20px;
  
}


/*Vids  */

table {   
  cellpadding="2";
  align="left";
  margin: 10px;
}

table, th, td {
    border: 1px solid black; 
}

th, td {
    padding: 10px;
}

.vidBox { 
    position: relative;
    display: inline-block;
    background-color: lightgrey; 
    width: 380px;
    height: 300px;
    border: 3px solid;
    text-align: center;
    padding: 5px 5px;
    margin: 10px;
}

